@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#header1{
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu {
    width: calc(100% - 4em);
    height: 2em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
}

.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}

.inner {
    padding: 1em 0 0 0;
    width: 60%;
    height: auto;
}

